<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test conocimiento Diego Ávila</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <main>
        <form action="registrar-usuario" method="POST" id="test-form">
            <!-- Nombre -->
            <label for="nombre">Nombre</label>
            <input class="inp-form" type="text" id="nombre" name="nombre">
            <!-- Email -->
            <label for="email">Email</label>
            <input class="inp-form" type="email" id="email" name="email">
            <!-- Email errores -->
            <div class="msg-error msg_error_email_null invisible">
                <p>Error: Este campo no puede estar vacío.</p>
            </div>
            <div class="msg-error msg_error_email_format invisible">
                <p>Error: Formato incorrecto. Intenta: ejemplo@ejemplo.com</p>
            </div>
            <!-- Contraseña -->
            <label for="password">Contraseña</label>
            <input class="inp-form" type="password" id="password" name="password">
            <!-- Btn enviar -->
            <button class="btn-submit" type="submit">Enviar</button>
        </form>  
    </main>
    
    <!-- Scripts -->
     <script src="/static/js/email-validation.js"></script>
</body>
</html>